/*form style*/
#dep input{
	font-weight:normal;
}


#links {
	width:15%;
	float:left;
	display: none;
}

#links ul,li { 
}
#select_odbor {
	float:left;
	width:15%;		
	display: none;
	margin-top:10px;
}

#department {
	width:173px;
	margin:5px 0px;
}


