#accordion {
}

#accordion h3 {
  text-align: left;
  font-size: 80%;
}

#accordion .blok {
  text-align: center;
}

#accordion table {
  width: 500px;
  display: inline-table;
  *display: inline; /* IE 7- */
  vertical-align: middle;
}

#accordion td {
  padding-left: 5px;
}

#accordion .rightCell {
  text-align: center;
}

#accordion .leftCell {
  text-align: left;
}

#accordion img {
  display: inline;
  vertical-align: middle;
}


